In [2]:
#This code is developed by Pooyan :D

# Assignment Tittle
__Author__ : Pooyan oskouhi 400222003
__Course__ : Undergraduate Numerical Analysis Course

In [1]:
import numpy as np
import pandas as pd

# Numpy Problems :

# Part a:
Shape of file in numpy.

In [25]:
file = np.loadtxt('tempratures.csv', usecols=0, dtype=str, delimiter='$')
file.shape

(52,)

# Pandas Problems :

# Part a:
Shape of file in pandas

In [43]:
df = pd.read_csv('tempratures.csv', dtype=object)
df

          date         city temperature
0   2022-01-01     New York         0.5
1   2022-01-01  Los Angeles        20.5
2   2022-01-01        Miami        24.7
3   2022-01-02     New York         2.3
4   2022-01-02  Los Angeles        18.4
5   2022-01-02        Miami        22.9
6   2022-01-03     New York         4.8
7   2022-01-03  Los Angeles        15.9
8   2022-01-03        Miami        21.2
9   2022-01-04     New York         3.2
10  2022-01-04  Los Angeles        16.1
11  2022-01-04        Miami        23.5
12  2022-01-05     New York        -1.9
13  2022-01-05  Los Angeles        22.8
14  2022-01-05        Miami        20.1
15  2022-01-06     New York        -2.1
16  2022-01-06  Los Angeles        23.5
17  2022-01-06        Miami        25.3
18  2022-01-07     New York         1.3
19  2022-01-07  Los Angeles        20.3
20  2022-01-07        Miami        21.8
21  2022-01-08     New York         4.2
22  2022-01-08  Los Angeles        19.7
23  2022-01-08        Miami        22.4
24  2022-01-09     New York         5.8
25  2022-01-09  Los Angeles        18.8
26  2022-01-09        Miami        20.5
27  2022-01-10     New York        -1.1
28  2022-01-10  Los Angeles        22.1
29  2022-01-10        Miami        23.1
30  2022-01-11     New York        -4.6
31  2022-01-11  Los Angeles        21.2
32  2022-01-11        Miami        25.8
33  2022-01-12     New York        -7.3
34  2022-01-12  Los Angeles        24.4
35  2022-01-12        Miami        22.6
36  2022-01-13     New York        -2.4
37  2022-01-13  Los Angeles        20.1
38  2022-01-13        Miami        19.7
39  2022-01-14     New York         1.5
40  2022-01-14  Los Angeles        21.5
41  2022-01-14        Miami        20.2
42  2022-01-15     New York         2.1
43  2022-01-15  Los Angeles        18.6
44  2022-01-15        Miami        21.5
45  2022-01-16     New York        -0.9
46  2022-01-16  Los Angeles        23.8
47  2022-01-16        Miami        23.9
48  2022-01-17     New York        -2.7
49  2022-01-17  Los Angeles        21.3
50  2022-01-17        Miami        25.3

In [44]:
df.shape

(51, 3)

In [ ]:
df.describe()

# Part b:
Calculate the median temperature for each city.

In [62]:
df = pd.read_csv('tempratures.csv')
sumOfNY = df.loc[df['city'].isin(['New York']), ['temperature']].sum()
sumOfMiami = df.loc[df['city'].isin(['Miami']), ['temperature']].sum()
sumOfLA = df.loc[df['city'].isin(['Los Angeles']), ['temperature']].sum()

In [63]:
print(sumOfNY)
print(sumOfMiami)
print(sumOfLA)

temperature    2.7
dtype: float64
temperature    384.5
dtype: float64
temperature    349.0
dtype: float64

In [64]:
print('Median temperature in Ny is', sumOfNY/12)
print('Median temperature in Miami is', sumOfMiami/12)
print('Median temperature in LA is', sumOfLA/12)

Median temperature in Ny is temperature    0.225
dtype: float64
Median temperature in Miami is temperature    32.041667
dtype: float64
Median temperature in LA is temperature    29.083333
dtype: float64